.background {
    width: 100%;
    position: relative;
    .background-img {
        width: 100%;
    }
    .buttons {
        width: 100%;
        position: absolute;
        bottom: 10%;
        left: 0;
        display: flex;
        justify-content: center;
        .market-btn {
            width: 10%;
            margin: 0 5px;
            transition: transform 0.5s ease;
            &:hover {
                transform: scale(1.05);
            }
            img {
                width: 100%;
            }
        }
    }

    .logo {
        position: absolute;
        top: 54.8%;
        right: 54.8%;
        width: 12.5%;
        padding-bottom: 0;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }
        img {
            width: 100%;
        }

        @media screen and (max-width: 1023px) {
            top: 55.5%;
            right: 57%;
            width: 30%;
            padding-bottom: 10%;
        }
    }
    @keyframes flashing {
        0% {
            opacity: 1;
            transform: translate(-100px, -100px) scale(1.5);
        }
        20% {
            opacity: 1;
            transform: translate(100px, 100px) scale(1.5);
        }
        100% {
            opacity: 1;
            transform: translate(100px, 100px) scale(1.5);
        }
    }
    .bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.mobile {
    display: none;
}

.container {
    &.market {
        .nav {
            .hamburger {
                .line {
                    background-color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .background {
        .buttons {
            bottom: 0%;
            .market-btn {
                width: 20%;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
    .background {
        .buttons {
            position: absolute;
            bottom: 7%;
            .market-btn {
                width: 30%;
            }
            .btn1 {
                position: absolute;
                bottom: 120%;
            }
        }
    }
}
