.bg {
    @extend %background_100;
    padding-bottom: 51%;
}
.question-box {
    width: 100%;
    padding-bottom: 51%;
    position: relative;
    .question,
    .answer {
        position: absolute;
        top: 0;
        @extend %background_100;
        padding-bottom: 51%;
    }
    .question {
        left: 0;
        width: 37%;
    }
    .answer {
        left: 37%;
        width: 63%;
    }
}
.scroll-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-name: scrollShaking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2.4s;
    opacity: 0;
    z-index: 10;
    img {
        width: 100px;
        height: 106px;
    }
    &.small {
        animation-delay: 0s;
        img {
            width: 80px;
            height: 55px;
        }
    }
}
@keyframes scrollShaking {
    0% {
        opacity: 1;
        bottom: 15px;
    }
    40% {
        opacity: 1;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        bottom: 15px;
    }
}

.section1 {
    position: relative;
    .ani {
        animation-name: revealTop;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: translateY(-100px);
        &.delay-1 {
            animation-delay: 0.6s;
        }
        &.delay-2 {
            animation-delay: 1.2s;
        }
        &.delay-3 {
            animation-delay: 1.8s;
        }
    }
    @keyframes revealTop {
        from {
            transform: translateY(-100px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
.section2 {
    position: relative;
    .logo {
        position: absolute;
        top: 0;
        right: 3%;
        width: 12%;
        clip-path: polygon(100% 0, 100% 78%, 50% 98%, 0 78%, 0 0);
        img {
            width: 100%;
        }
        .flash {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            &.animating {
                opacity: 1;
                animation-name: flashing;
                animation-duration: 8s;
                animation-iteration-count: infinite;
            }
        }
    }
    .title {
        position: absolute;
        top: 14%;
        left: 14.5%;
        width: 41%;
    }
    .powder {
        position: absolute;
        top: 62%;
        left: 16%;
        width: 31%;
    }
    @keyframes flashing {
        0% {
            transform: translate(-100px, -100px) scale(1.5);
        }
        20% {
            transform: translate(100px, 100px) scale(1.5);
        }
        100% {
            transform: translate(100px, 100px) scale(1.5);
        }
    }
}
.section3 {
    position: relative;
    .black-field {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(24, 70, 149, 0.7);
        z-index: 11;
        display: none;
        .lightbox {
        }
    }
}
.section4 {
    position: relative;
    .paper {
        position: absolute;
        top: 3%;
        left: 17.5%;
        width: 55%;
        z-index: 1;
    }
    .title {
        position: absolute;
        top: 8%;
        left: 53.5%;
        width: 30%;
    }
    .powder {
        position: absolute;
        top: 62%;
        left: 62.5%;
        width: 20%;
        z-index: 2;
    }
    .bubble-box {
        position: absolute;
        width: 100%;
        padding-bottom: inherit;
        &.animating {
            .bubble1,
            .bubble2,
            .bubble3,
            .bubble4,
            .bubble5,
            .bubble6 {
                animation-name: revealScale, shaking;
                animation-duration: 1s, 8s;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
            .bubble1 {
                animation-delay: 0s, 1s;
            }
            .bubble2 {
                animation-delay: 0.3s, 1.3s;
            }
            .bubble3 {
                animation-delay: 0.6s, 1.6s;
            }
            .bubble4 {
                animation-delay: 0.9s, 1.9s;
            }
            .bubble5 {
                animation-delay: 1.2s, 2.2s;
            }
            .bubble6 {
                animation-delay: 1.5s, 2.5s;
            }
        }
        .bubble1,
        .bubble2,
        .bubble3,
        .bubble4,
        .bubble5,
        .bubble6 {
            opacity: 0;
            transform: scale(1);
        }
        .bubble1 {
            position: absolute;
            top: 68.5%;
            left: 16%;
            width: 17%;
            z-index: 0;
        }
        .bubble2 {
            position: absolute;
            top: 56%;
            left: 11.2%;
            width: 12%;
            z-index: 0;
        }
        .bubble3 {
            position: absolute;
            top: 30.5%;
            left: 17.5%;
            width: 19%;
            z-index: 2;
        }
        .bubble4 {
            position: absolute;
            top: 16%;
            left: 18%;
            width: 11%;
            z-index: 2;
        }
        .bubble5 {
            position: absolute;
            top: -1%;
            left: 24%;
            width: 15%;
            z-index: 2;
        }
        .bubble6 {
            position: absolute;
            top: 31%;
            left: 34%;
            width: 9%;
            z-index: 2;
        }
        @keyframes shaking {
            0% {
                opacity: 1;
                transform: translateY(0px);
            }
            45% {
                opacity: 1;
                transform: translateY(15px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        @keyframes revealScale {
            from {
                transform: scale(0.3);
                opacity: 0;
            }
            to {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}
.section5 {
    position: relative;
    .title1 {
        position: absolute;
        top: 27%;
        left: 14%;
        width: 27%;
    }
    .title2 {
        position: absolute;
        top: 9%;
        left: 41%;
        width: 44%;
    }
    .powder {
        position: absolute;
        top: 28%;
        left: 44%;
        width: 39%;
    }
}
.section6 {
    position: relative;
}
.section7 {
    position: relative;
}
.section8 {
    position: relative;
}
.section9 {
    position: relative;
}
.section10 {
    position: relative;
    .title {
        position: absolute;
        top: 27%;
        left: 15%;
        width: 40%;
    }
}
