.bg {
    @extend %background_100;
    padding-bottom: 51%;
}
.question-box {
    width: 100%;
    padding-bottom: 51%;
    position: relative;
    .question,
    .answer {
        position: absolute;
        top: 0;
        @extend %background_100;
        padding-bottom: 51%;
    }
    .question {
        left: 0;
        width: 37%;
    }
    .answer {
        left: 37%;
        width: 63%;
    }
}
.section1 {
    .ani-01 {
    }

    @keyframes revealTop1 {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }
}
