.bg {
    @extend %background_100;
    padding-bottom: 51%;
}
.question-box {
    width: 100%;
    padding-bottom: 51%;
    position: relative;
    .question,
    .answer {
        position: absolute;
        top: 0;
        @extend %background_100;
        padding-bottom: 51%;
    }
    .question {
        left: 0;
        width: 37%;
    }
    .answer {
        left: 37%;
        width: 63%;
    }
}
.section1 {
    position: relative;
    .ani {
        animation-name: revealTop;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: translateY(-100px);
        &.delay-1 {
            animation-delay: 0.8s;
        }
        &.delay-2 {
            animation-delay: 1.6s;
        }
        &.delay-3 {
            animation-delay: 2.4s;
        }
    }
    .scroll-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        animation-name: shaking;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-delay: 3.2s;
        opacity: 0;
        img {
            width: 100px;
            height: 106px;
        }
    }
    @keyframes shaking {
        0% {
            opacity: 1;
            bottom: 15px;
        }
        40% {
            opacity: 1;
            bottom: 0px;
        }
        100% {
            opacity: 1;
            bottom: 15px;
        }
    }
    @keyframes revealTop {
        from {
            transform: translateY(-100px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
.section2 {
    position: relative;
    .logo {
        position: absolute;
        top: 0;
        right: 3%;
        width: 12%;
        clip-path: polygon(100% 0, 100% 78%, 50% 98%, 0 78%, 0 0);
        img {
            width: 100%;
        }
        .flash {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            &.animating {
                opacity: 1;
                animation-name: flashing;
                animation-duration: 8s;
                animation-iteration-count: infinite;
            }
        }
    }
    .title {
        position: absolute;
        top: 14%;
        left: 14.5%;
        width: 41%;
    }
    .powder {
        position: absolute;
        top: 62%;
        left: 16%;
        width: 31%;
    }
    @keyframes flashing {
        0% {
            transform: translate(-100px, -100px) scale(1.5);
        }
        20% {
            transform: translate(100px, 100px) scale(1.5);
        }
        100% {
            transform: translate(100px, 100px) scale(1.5);
        }
    }
}
