.topBg {
    position: relative;
    .topImg {
        width: 100%;
    }
    .logo {
        position: absolute;
        top: 2%;
        left: 3%;
        width: 6%;
    }
    .step1 {
        position: absolute;
        top: 4%;
        right: 18%;
    }
    .step2 {
        position: absolute;
        top: 20%;
        right: 20%;
    }
}

.botBg {
    position: relative;
    .botImg {
        width: 100%;
    }
    .fbShare {
        display: flex;
        position: absolute;
        top: 10%;
        // justify-content: center;
        align-items: center;
        .share {
            margin: 0 1%;
        }
    }
}
