.top-bg {
    position: relative;
    .top-img {
        width: 100%;
    }
    .share-btn-pc {
        position: absolute;
        top: 17.8%;
        right: 21%;
        width: 20%;
        transition: transform 0.3s ease;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
        img {
            width: 100%;
        }
    }
    .share-btn-mobile {
        display: none;
    }
    @media screen and (max-width: 1023px) {
        .share-btn-pc {
            display: none;
        }

        .share-btn-mobile {
            display: block;
            position: absolute;
            top: 28%;
            left: 46%;
            width: 49%;
            img {
                width: 100%;
            }
        }
    }
    .share-btn-link {
        position: absolute;
        top: 21.8%;
        right: 22%;
        width: 16%;
        transition: transform 0.3s ease;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
        img {
            width: 100%;
        }
    }
    .bubble-1 {
        position: absolute;
        bottom: 67.5%;
        left: 64%;
        width: 16%;
    }
    .bubble-2 {
        position: absolute;
        bottom: 57.5%;
        left: 63.3%;
        width: 17%;
    }
    .bubble-3 {
        position: absolute;
        bottom: 63.5%;
        left: 54%;
        width: 13%;
    }

    .chat-swiper {
        position: absolute;
        width: 100%;
        top: 43%;
        .frame {
            width: 100%;
            position: relative;
            img {
                width: 100%;
            }
            .content {
                position: absolute;
                top: 13%;
                left: 50%;
                transform: translateX(-50%);
                width: 65%;
                .title {
                    font-size: 24px;
                    font-weight: 400;
                    color: #2647a4;
                    margin-bottom: 12px;
                    @include textdot(1);
                }
                .text {
                    font-size: 16px;
                    @include textdot(2);
                    font-weight: 400;
                    margin-bottom: 12px;
                    line-height: 1.8;
                }
                .name {
                    font-size: 16px;
                    color: #3655aa;
                    font-weight: 400;
                    margin-bottom: 12px;
                }
                .fb-btn {
                    width: 80%;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.07);
                    }
                }
            }
        }
        @media screen and (max-width: 1023px) {
            top: 53%;
        }
        @media screen and (max-width: 768px) {
            .frame {
                .content {
                    top: 13%;
                    .title {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    .text {
                        font-size: 15px;
                        margin-bottom: 10px;
                    }
                    .name {
                        font-size: 15px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        @media screen and (max-width: 480px) {
            .frame {
                .content {
                    top: 13%;
                    .title {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }
                    .text {
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    .name {
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    .fb-btn {
                        width: 60%;
                        padding-left: 10px;
                    }
                }
            }
        }
        @media screen and (max-width: 380px) {
            .frame {
                .content {
                    top: 13%;
                    .title {
                        font-size: 14px;
                        margin-bottom: 3px;
                    }
                    .text {
                        font-size: 12px;
                        margin-bottom: 3px;
                    }
                    .name {
                        font-size: 12px;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
    .image-swiper {
        position: absolute;
        width: 100%;
        top: 63%;
        .image {
            width: 100%;
        }
        @media screen and (max-width: 1023px) {
            top: 73%;
        }
        @media screen and (max-width: 768px) {
            top: 73%;
        }
    }
    .share-more {
        position: absolute;
        top: 60%;
        left: 37.5%;
        width: 25%;
        transition: opacity ease 0.3s;
        z-index: 1;
        &.hover {
            z-index: 0;
        }
        &:hover {
            opacity: 0;
            &.hover {
                opacity: 1;
            }
        }
    }

    .like-btn {
        position: absolute;
        top: 80%;
        right: 33%;
        width: 35%;
        transition: opacity ease 0.3s;
        z-index: 1;
        &.hover {
            z-index: 0;
        }
        &:hover {
            opacity: 0;
            &.hover {
                opacity: 1;
            }
        }
    }
    .image4 {
        position: absolute;
        top: 84%;
        left: 17%;
        width: 32%;
    }
    .image5 {
        position: absolute;
        top: 84%;
        right: 17%;
        width: 32%;
    }
}

.mobile {
    display: none;
}
.black-field {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 82, 163, 0.9);
    z-index: 11;
    .close-btn {
        position: fixed;
        right: 30px;
        top: 30px;
        width: 50px;
        height: 30px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .lightbox {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 650px;
        .frame {
            width: 100%;
            height: 100%;
            @extend %background_100;
            position: relative;
            .swiper {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 60%;
                    }
                }
                .swiper-button-prev {
                    left: 30px;
                }
                .swiper-button-next {
                    right: 30px;
                }
            }
            .content-box {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 62%;
                height: 60%;
                .title {
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 20px;
                    color: rgb(24, 47, 149);
                    font-weight: 400;
                }
                .content,
                .text {
                    height: 310px;
                    strong {
                        color: rgb(230, 61, 112);
                    }
                    p {
                        font-weight: 300;
                    }
                    strong,
                    p {
                        line-height: 1.8;
                        font-size: 15px;
                    }
                    span {
                        color: rgb(230, 61, 112);
                    }
                    a {
                        color: rgb(0, 154, 205);
                        text-decoration: underline;
                    }
                }
                .content {
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
                button {
                    height: 40px;
                    padding-left: 40px;
                    padding-right: 30px;
                    text-align: center;
                    letter-spacing: 8px;
                    font-size: 16px;
                    color: #fff;
                    background-color: rgb(27, 68, 151);
                    margin: 0 auto;
                    display: block;
                    margin-top: 40px;
                    border-radius: 20px;
                    transition: transform 0.3s ease;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.05);
                    }
                    &.disabled {
                        background-color: rgb(125, 125, 125);
                        pointer-events: none;
                        cursor: default;
                    }
                }
                .step1 {
                    .title {
                        font-size: 22px;
                        margin-bottom: 20px;
                    }
                    .text {
                        height: 230px;
                        padding: 0 10px;
                        overflow-x: hidden;
                        overflow-y: auto;
                    }
                }
                .step2 {
                    .content {
                        height: 260px;
                    }
                    .agree {
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        .slide-down {
                            width: 30px;
                            height: 20px;
                            position: absolute;
                            bottom: 43px;
                            right: 0;
                            background-color: rgba(0, 0, 0, 0);
                            color: #d0d0d0;
                            border: 1px solid rgb(101, 101, 101);
                            border-radius: 25%;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 80%;
                            }
                        }
                        input {
                            margin-right: 10px;
                        }
                    }
                    button {
                        margin-top: 20px;
                    }
                }
                .step3 {
                    .input-box {
                        margin-top: 45px;
                        .input {
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;
                            p {
                                width: 80px;
                                font-weight: 400;
                                text-align: right;
                                padding-right: 15px;
                            }
                            input {
                                width: 280px;
                                height: 45px;
                                border-radius: 20px;
                                border: 0;
                                background-color: rgb(225, 224, 225);
                            }
                        }
                    }
                }
                .step4 {
                    text-align: center;
                    .title {
                        font-size: 38px;
                        margin-top: 30px;
                    }
                    img {
                        width: 100%;
                        margin-top: 30px;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            width: 500px;
            height: 550px;
            .frame {
                .content-box {
                    .content {
                        height: 250px;
                    }
                    button {
                        height: 30px;
                        padding-left: 30px;
                        padding-right: 30px;
                        letter-spacing: 6px;
                        font-size: 14px;
                        border-radius: 20px;
                    }
                    .step1 {
                        .title {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        p {
                            font-size: 14px;
                        }
                        .text {
                            height: 200px;
                        }
                    }
                    .step2 {
                        .content {
                            height: 200px;
                            strong,
                            p {
                                font-size: 14px;
                            }
                        }
                        .agree {
                            margin-top: 10px;
                        }
                        button {
                            margin-top: 15px;
                        }
                    }
                    .step3 {
                        .input-box {
                            margin-top: 20px;
                            .input {
                                margin-bottom: 15px;
                                p {
                                    width: 75px;
                                    padding-right: 10px;
                                }
                                input {
                                    width: 230px;
                                }
                            }
                        }
                        button {
                            margin-top: 40px;
                        }
                    }
                    .step4 {
                        .title {
                            font-size: 32px;
                            margin-top: 25px;
                        }
                        img {
                            width: 90%;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 480px) {
            width: 400px;
            height: 450px;
            .frame {
                .content-box {
                    top: 53%;
                    width: 70%;

                    .content {
                        height: 160px;
                    }
                    button {
                        height: 25px;
                        padding-left: 25px;
                        padding-right: 22px;
                        margin-top: 30px;
                        border-radius: 15px;
                    }
                    .step1 {
                        .title {
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                        .text {
                            height: 170px;
                        }
                    }
                    .step2 {
                        .title {
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                        .content {
                            height: 140px;
                        }
                    }
                    .step3 {
                        .input-box {
                            margin-top: 0px;
                            p {
                                width: 75px;
                                padding-right: 10px;
                            }
                            input {
                                width: 160px;
                            }
                        }
                        button {
                            margin-top: 20px;
                        }
                    }
                    .step4 {
                        .title {
                            font-size: 28px;
                            margin-top: 20px;
                        }
                        img {
                            width: 80%;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 380px) {
            width: 300px;
            height: 320px;
            .frame {
                .content-box {
                    .content {
                        height: 140px;
                        strong,
                        p {
                            font-size: 12px;
                        }
                    }
                    button {
                        margin-top: 10px;
                    }
                    .step1 {
                        .title {
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                        .text {
                            height: 120px;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                    .step2 {
                        .title {
                            font-size: 14px;
                            margin-bottom: 0px;
                        }
                        .content {
                            height: 120px;
                            strong,
                            p {
                                font-size: 12px;
                            }
                        }
                        .agree {
                            label {
                                font-size: 12px;
                            }
                            .slide-down {
                                display: none;
                            }
                        }
                    }
                    .step3 {
                        .title {
                            font-size: 16px;
                        }
                        .input-box {
                            margin-top: 0px;
                            .input {
                                margin-bottom: 5px;
                                p {
                                    width: 75px;
                                    padding-right: 10px;
                                }
                                input {
                                    width: 140px;
                                    height: 32px;
                                }
                            }
                        }
                        button {
                            margin-top: 10px;
                            padding-left: 15px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .pc {
        display: none;
    }
    .mobile {
        display: block;
        width: 100%;
    }

    .top-bg {
        .share-btn {
            top: 27%;
            right: 8%;
            width: 40%;
        }
        .share-btn-link {
            top: 31.4%;
            right: 11%;
            width: 37%;
        }
        .like-btn {
            position: absolute;
            top: 87%;
            right: 17%;
            width: 65%;
        }
        .share-more {
            position: absolute;
            top: 68.5%;
            left: 28.5%;
            width: 43%;
        }
        .share1 {
            display: none;
        }
        .share2 {
            position: absolute;
            top: 54%;
            left: 2.2%;
            width: 48%;
        }
        .share3 {
            position: absolute;
            top: 54%;
            left: 52.2%;
            width: 45%;
        }
        .share4 {
            display: none;
        }
        .bubble-1 {
            bottom: 58%;
            left: 64%;
            width: 21%;
        }

        .bubble-3 {
            bottom: 55%;
            left: 47%;
            width: 18%;
        }
        .bubble-2 {
            bottom: 49.5%;
            left: 58%;
            width: 29%;
        }

        .fb {
            &.btn1 {
                display: none;
            }
            &.btn2 {
                position: absolute;
                top: 60%;
                right: 10%;
                width: 30%;
            }
            &.btn3 {
                position: absolute;
                top: 60.4%;
                left: 11%;
                width: 30%;
            }
            &.btn4 {
                display: none;
            }
        }

        .image4 {
            position: absolute;
            top: 90%;
            left: 4%;
            width: 45%;
        }

        .image5 {
            position: absolute;
            top: 90%;
            right: 4%;
            width: 45%;
        }
    }
}

// 1st floating bubble
.bubble-1 {
    animation: baloon_1 6s infinite;
    animation: baloon_1 6s infinite;
    animation: baloon_1 6s infinite;
    animation: baloon_1 6s infinite;
    animation: baloon_1 6s infinite;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

// 2ed floating bubble
.bubble-2 {
    animation: baloon_1 6.2s infinite;
    animation: baloon_1 6.2s infinite;
    animation: baloon_1 6.2s infinite;
    animation: baloon_1 6.2s infinite;
    animation: baloon_1 6.2s infinite;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

// 3rd floating bubble
.bubble-3 {
    animation: baloon_1 6.4s infinite;
    animation: baloon_1 6.4s infinite;
    animation: baloon_1 6.4s infinite;
    animation: baloon_1 6.4s infinite;
    animation: baloon_1 6.4s infinite;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(20px);
    }
}
